parameters:
  level: 6
  paths:
    - src/

  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  reportUnmatchedIgnoredErrors: true

  ignoreErrors:
  # Ignore typehint errors on api classes
  - message: '#Method (.*) has no return typehint specified\.#'
    path: src/Api
